<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="">

    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Collapsed content</h5>
          <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
</head>
<body>
    <header>
        <h1>{{ name }}</h1>
        <p>{{ professione }}</p>
    </header>

    <section>
        <div  class="row pt-4">
          <div class="image col pt-4 d-flex justify-content-center align-items-center">
            <img src="/assets/Sandrine.jpeg" class="rounded-circle"  style="width: 480px;height: 480px;object-fit: cover" alt="Sandrine">
        </div>
        <div class=" text col">
          <h1><span class="text-center ">Hello</span></h1>
          <h3 class="font-weight-bold">A Bit About Me</h3>
          <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
          <div class="link d-flex justify-content-center align-items-center">

            <a href="#Resume"><span class=" resume btn btn-warning btn-lg">Resume</span></a>
            <a href="#projects"><span class="projects btn btn-danger btn-lg">Projects</span></a>
            <a href="#contact"><span class="contact btn btn-info btn-lg">Contact</span></a>

          </div>
        </div>
        </div>
    </section>

    <section class="contact">
        <h2>Contatti</h2>
        <ul>
            <li>Email: {{ email }}</li>
            <li>Telefono: {{ phone }}</li>
            <li>Sito Web: {{ sitoweb }}</li>
            <li><a href="www.linkedin.com/in/sandrinenoel" target="_blank">LinkedIn</a></li>
        </ul>
        <div>
          <h2>Informazioni personali</h2>
          <p><strong>Email:</strong> {{ email }}</p>
          <p><strong>Telefono:</strong> {{ phone }}</p>
        </div>
    </section>

    <section class="education">
        <h2>Formazione</h2>
        <div class="item">
            <h3>Laurea in Science e Tecnologie Informatiche</h3>
            <p>Universita degli studi di Ferrara - 2014/2017</p>
        </div>
        <!-- Aggiungi altre esperienze di formazione -->
    </section>

    <section class="experience">
        <h2>Esperienza Lavorativa</h2>
        <div class="item">
            <h3>Professional Technical Consultant presso Aubay</h3>
            <p> Dal 2021- Oggi</p>
            <ul>
                <li>Sviluppo e Modifiche sito web e software per sole 24, Italia Online, DeAgostini. </li>

                <li><b>Competenze:</b> Rest Api, Web Design, Sviluppo Backend, Sviluppo Frontend,TypeScript, API Restfull, HTML, CSS, Bootstrap, JQuery, Javascript,
                  HandleBars js, Backbone Js, Angular JS, Angular 2+, MongoDB,Sap ABAP, Ajax, SQL.</li>

                <!-- Aggiungi altre responsabilità e risultati -->
            </ul>
        </div>
        <div class="item">
          <h3>Web Developer presso ArchiMedia S.r.l.</h3>
          <p>Dal 2019-2021</p>
          <ul>
              <li>Creazione Blog e Sviluppo siti Web, Landing Pages per aziende privati.
              </li>
              <li><b>Competenze:</b> Anime js,HTML, CSS, Bootstrap, JQuery,
                Javascript, HubL Hubspot,HubSpot Developer,Wev Design Responsive,Schema XML,WordPress, SQL, MySQL, PHP, Search Engine Optimization(SEO), </li>
              <li><a [href]="'/assets/CV_Aubay_Sandrine.pdf'" target="_blank" width="500" height="400">Progetti realizzati in Archimedia</a></li>
              <!-- Aggiungi altre responsabilità e risultati -->
          </ul>
      </div>

      <div class="item">
        <h3> Software Engineering presso Gruppo Selyon SRL</h3>
        <p>Dal 2018-2019</p>
        <ul>
            <li>Sviluppo funzionalità di gestione del Software  CPR System e Aziende privati.</li>
            <li><b>Competenze:</b>PHP, PHP OOP, Java, MVC,Javascript, JQuery, MySQL Server,SQL, Bootstrap, ,Yii2  CSS, HTML. </li>
            <li>
            <!-- Aggiungi altre responsabilità e risultati -->
        </ul>
    </div>
        <!-- Aggiungi altre esperienze lavorative -->
    </section>

    <section class="skills">
        <h2>Competenze</h2>
        <ul>
            <li>HTML, CSS, Bootstrap, JQuery, Javacript, SQL, Java, PHP, Hubl Hubspot, Git, MySQL Server, Flutter,
              RESTfull API, Node Js, Express, Angular 2+, Mongodb
            </li>

            <!-- Aggiungi altre competenze -->
        </ul>
    </section>
    <section class="skills">
      <h2>Certificazioni</h2>
      <ul>
          <li>Certificato di Completamento per Corso Angular (The complete Guide 2022 Edition Udemy)</li>
          <li>web Developer e Sviluppo ecommerce con PHP e MYSQL</li>
          <li>Master Online Marketing Digital</li>
          <li>Corso SEO</li>
          <li>Growth Driven Design</li>
          <li>Hubspot Certification</li>
          <li>Hubspot Marketing Software</li>

          <!-- Aggiungi altre competenze -->
      </ul>
  </section>

    <section class="languages">
        <h2>Lingue</h2>
        <ul>
            <li>Francese - Madre lingua</li>
            <li>Italiano- Buono</li>
            <li>Inglese- B2</li>
            <!-- Aggiungi altre lingue e livelli -->
        </ul>
    </section>

    <section class="references">
        <h2>Referenze</h2>
        <a href="https://it.wix.com/website-template/view/html/2846?originUrl=https%3A%2F%2Fit.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fportfolio-cv%2Fpersonal&tpClick=view_button&esi=0d3c01aa-ccb6-44be-aeb2-640681eed95c">Link per il sito</a>
        <p>Disponibili su richiesta.</p>

        <img src="https://images01.nicepagecdn.com/page/25/55/it/modello-web-preview-255570.jpg">
        <img alt="Alfabetizzazione finanziaria Modello di sito Web" class="media-image img-responsive noversion" height="3780" src="https://images01.nicepagecdn.com/page/25/55/it/modello-web-preview-255570.jpg" style="" width="750">
        <img alt="Alfabetizzazione finanziaria Modello di sito Web" class="media-image img-responsive noversion" height="3780" src="https://images01.nicepagecdn.com/page/58/61/it/modello-web-preview-5861726.jpg" style="" width="750">
    </section>
</body>
</html>


<router-outlet></router-outlet>
